* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: ghostwhite;
}

#logo {
	width: 50%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	margin-bottom: 20px;
}

#heading {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 3rem;
	color: tomato;
	margin-bottom: 20px;
}

.pokemon {
	background-color: #f0f0f0;
	display: inline-block;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	margin: 0.75rem;
	box-shadow: 2.5px 5px 10px gray;
}

.pokemon img {
	display: block;
}
